<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <title>Home</title>
  </head>
  <body>
    <div class="announcement">
      Super Deal! Free Shipping on Orders Over
      <i class="fas fa-rupee-sign"></i> 500
    </div>
    <div class="container">
      <div class="wrapper">
        <div class="left">
          <div class="language">EN</div>
          <div class="searchContainer">
            <input type="text" placeholder="search product" /><button></button>
          </div>
        </div>
        <div class="center">
          <div class="logo">
            <a href="/">StyleNode.js</a>
          </div>
        </div>
        <div class="right">
          <div class="menuitem">
            <a href="/register">register</a>
          </div>
          <div class="menuitem">
            <a href="/login">login</a>
          </div>
          <div class="menuitem">
            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="signupbackground">
        <div class="signupcard">
            <h1 class="title">Login</h1>
            <form action="/login" method="POST">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <button type="submit">Login</button>
          </form>
            <div class="forgotpassword"><a href="/reset">Forgot Password?</a></div>
        </div>
    </div>
    <div class="footer">
        <div class="left">
            <h1 class="heading">Parth.js</h1>
            <div class="desc">
                There are many variations of passages of Lorem Ipsum available, but
                the majority have suffered alteration in some form, by injected
                humour, or randomised words which don't look even slightly
                believable.
            </div>
            <div class="socialmedia">
                <button type="submit"><i class="fab fa-instagram"></i></button>
                <button type="submit"><i class="fab fa-github"></i></button>
                <button type="submit"><i class="fab fa-twitter"></i></button>
                <button type="submit"><i class="fab fa-youtube"></i></button>
            </div>
        </div>
        <div class="center">
            <div class="links">UseFul Links</div>
            <div class="lists">
                <div class="listitem">Home</div>
                <div class="listitem">Cart</div>
                <div class="listitem">Man Fashion</div>
                <div class="listitem">Woman Fashion</div>
                <div class="listitem">Accessories</div>
                <div class="listitem">My Account</div>
                <div class="listitem">Order Tracking</div>
                <div class="listitem">Wishlist</div>
                <div class="listitem">Terms</div>
            </div>
        </div>
        <div class="right">
            <div class="links">Contact</div>
            <div class="address">XYZ STREET , ANAND , GUJARAT</div>
            <div class="phone">+91 701 636 7996</div>
            <div class="email">mr.parth147@gmail.com</div>
            <img src='https://i.ibb.co/Qfvn4z6/payment.png'>
        </div>
    </div>
</body>
</html>