<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap"
      rel="stylesheet"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="announcement">
      Super Deal! Free Shipping on Orders Over
      <i class="fas fa-rupee-sign"></i> 500
    </div>
    <div class="container">
      <div class="wrapper">
        <div class="left">
          <div class="language">EN</div>
          <div class="searchContainer">
            <input type="text" placeholder="search product" /><button></button>
          </div>
        </div>
        <div class="center">
          <div class="logo">
            <a href="/">StyleNode.js</a>
          </div>
        </div>

        <div class="right">
          <% if(!isAuthenticated){%>
          <div class="menuitem">
            <a href="/register">register</a>
          </div>
          <div class="menuitem">
            <a href="/login">login</a>
          </div>
          <div class="menuitem">
            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
          </div>
          <% }%> <% if(isAuthenticated){%>
          <div class="menuitem">
            <form action="/logout" method="POST">
              <button type="submit">logout</button>
            </form>
          </div>
          <% }%>
        </div>
      </div>
    </div>
    <div class="signupbackground">
      <div class="signupcard">
        <h1 class="title">Reset Password</h1>
        <form action="/reset" method="POST">
          <input type="email" name="email" placeholder="email" />
          <button type="submit">send email</button>
        </form>
      </div>
    </div>
  </body>
</html>
